<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=320.1, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<!--Ajax跨域问题浏览器兼容性-->
<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon" />
<title>特价汽车票</title>
<meta name="keywords" content="12307,汽车票,长途汽车,汽车票预订,汽车票查询,汽车时刻表,全国汽车站" />
<meta name="description" content="12307提供网上汽车票查询,汽车时刻表查询,汽车票预订,全国汽车站查询等服务的便民性门户网站!" />
<link rel="stylesheet" href="http://cdn.12307.net/wxclient/v3.0/css/ictiy.css" type="text/css">
<link rel="stylesheet" href="http://cdn.12307.net/wxclient/v3.0/css/icity_list.css" type="text/css">
<link rel="stylesheet" href="http://cdn.12307.net/wxclient/v3.0/css/zepto.alert.css" type="text/css">
<script type="text/javascript" src="http://cdn.12307.net/wxclient/v3.0/wxclient/v3.0/js/require.min.js" data-main="http://cdn.12307.net/wxclient/v3.0/wxclient/v3.0/js/citybus/common/citybusDetail-main"></script>
</head>
<body class="bggray">
	<input type="hidden" id="basePath" value="<?php echo $basePath ;?>">
	<input type="hidden" id="jsResourcePath" value="http://cdn.12307.net/wxclient/v3.0">
	<input type="hidden" id="startCityName" value="深圳" />
	<input type="hidden" id="endCityName" value='广南县' />
	<!--使网页的内容无法被鼠标或键盘选定-->
	<div id="main">
		<div id="headerBox" class="headerBox">
			<!--head--->
			<article class="header">
				<header>
					<a class="header_left" href="http://cdn.12307.net/wxclient/v3.0/index.html"><i class="returnico" id="pageBack"></i></a>
					<h1>城际专线列表</h1>
				</header>
			</article>
		</div>
		<!--/head--->
		<div id="headerBox" class="headerBox">
			<!--mainBox--->
			<div id="mainBox">
				<div class="date_tab3">
					<ul>
						<li id="oneWay" class="bflex-left">前一天</li>
						<li class="bflex-two">
							<span class="dateico"></span><span class="date_value">05-01 </span><span id="week">周日</span>
							<input type="hidden" class="cal_date" value="2016-05-01">
						</li>
						<li id="bargain" class="bflex-right">后一天</li>
					</ul>
				</div>
					<!--/*无数据*/-->
			    	<div id="nodata" class="nodata">
					    <div class="nd_img"></div>
					    <p class="nd_txt">抱歉，没有找到您要的数据!</p>
					</div>
			</div>
			<!--底部--->
    <!--底部--->
    <footer>
    <div class="h50"></div>
    <article class="footerBar">
    <a class="tab_1 " href="javascript:window.location.href='public/wxclient/v3.0/index.html?_random=' + Math.random();">车票</a>
    <a class="tab_2 " href="javascript:window.location.href='public/wxclient/v3.0/userChat.html?_random=' + Math.random();">在线咨询<span class="_order_notice_num"></span></a>
    <a class="tab_3 " href="http://cdn.12307.net/wxclient/v3.0/fastLogin.php">我的</a>
    </article>
    	
    </footer>
		</div>
</body>
<span style=" visibility: hidden;">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?7cffe8c85da9777cb852d9c371ff0b10";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</span>
</html>
