<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>特价汽车票_12307全国汽车票</title>
    <link href="http://cdn.12307.net/2015/image/favicon.ico" type="image/x-icon" />
    <meta name="keywords" content="12307,汽车票,长途汽车,汽车票预订,汽车票查询,汽车时刻表,全国汽车站,特价汽车票" />
    <meta name="description" content="12307线路时刻表频道页提供汽车票价格查询问题,提供网上汽车票查询,汽车时刻表查询,汽车票预订,全国汽车站查询等服务的便民性门户网站！"/>
    <link rel="stylesheet" href="http://cdn.12307.net/website/css/base.css" />
    
    <link rel="stylesheet" href="http://cdn.12307.net/website/css/mright.css" />
    
	
    <link rel="stylesheet" href="http://cdn.12307.net/wxclient/v3.0/css/ictiy.css" type="text/css">
<link rel="stylesheet" href="http://cdn.12307.net/wxclient/v3.0/css/icity_list.css" type="text/css">
<link rel="stylesheet" href="http://cdn.12307.net/wxclient/v3.0/css/zepto.alert.css" type="text/css">
<script type="text/javascript" src="http://cdn.12307.net/wxclient/v3.0/js/require.min.js" data-main="http://cdn.12307.net/wxclient/v3.0/js/citybus/common/citybusList-main"></script>	
</head>
<body>
<input type="hidden" id="basePath" value="<?php echo $basePath ;?>">
	<input type="hidden" id="jsResourcePath" value="http://cdn.12307.net/wxclient/v3.0">
	<input type="hidden" id="startCityName" value="<?php echo $startCityName;?>" />
	<input type="hidden" id="endCityName" value="<?php echo $endCityName;?>" />
<div class="bodyhead">
 <div class="main-wrap">
  <h1 class="logo"><a title="12307全国汽车票网" href="http://www.12307.net">12307全国汽车票网</a></h1>
  </div>
<!--导航菜单-->
 <div class="bodymenu">
    <div class="mainnav">
        <ul class="navmenu">
        <li class="nav_0"><a class="" href="index.php" title="首页">首页</a></li>
        <li class="nav_1"><a href="index.php" title="汽车票"  class="cur">汽车票</a></li>
        <li class="nav_2"><a href="javascript:window.location.href='http://p.qiao.baidu.com/cps/chat?siteId=9145095&userId=21032841'"  title="在线咨询">在线咨询</a></li>
        <li class="nav_3"><a href="aboutus.html" title="关于12307">关于12307</a></li>
        
        
        </ul>
        	        </div>
	        
	        </div>
 </div>
<div class="h15"></div>
   <div class="main-wrap">
   <!--时刻表搜索--><!--中间部份-->
<div class="h15"></div>
   <div class="main_l_b">
				<div id="headerBox" class="headerBox">
			<!--head--->
			<article class="header">
				<header>
					<a class="header_left" href="index.php"></a>
					<h1>城际专线列表</h1>
				</header>
			</article>
		</div>
		<!--/head--->
		<div id="headerBox" class="headerBox">
			<!--mainBox--->
			<div id="mainBox">
				<div class="date_tab3">
					<ul>
						<li id="oneWay" class="bflex-left">前一天</li>
						<li class="bflex-two">
							<span class="dateico"></span><span class="date_value"><?php echo substr($date,5);?></span><span id="week"><?php echo $weekday[date('w', strtotime($date))];?></span>
							<input type="hidden" class="cal_date" value="<?php echo $date;?>">
						</li>
						<li id="bargain" class="bflex-right">后一天</li>
					</ul>
				</div>
				   	<div class="chepiao_list">
				    	<!-- 取值  -->
				   		<!-- 显示 -->
				   		 <?php  foreach ($times_info as $v) : ?>
				   		 <?php if($v['has_ticket'] ==1){ ;?>
		            	<a href="index.php?p=home&c=index&a=lineInfos&scheduleCode=<?php echo $v['scheduleCode'];?>&date=<?php echo $date;?>">
			            <div class="kb_list_tab">
                        <?php if($v['is_sale'] ==1){ ;?>
			            	<div class="offer_box"><div class="offerN">
			            			<span>折扣票</span>
			            	</div></div>
                            <?php };?>
			            	<ul>
					           	<li class="kb_chezhan">
						           	<div class="kb_trip"><span class="time"><?php echo $v['time'];?></span><span class="stroke">发车</span></div>
						           	<div class="line_blue">
							            			<p><span class="traicon begin"></span><?php echo $v['start_place'];?>&nbsp;</p>
							            			<p><span class="traicon end"></span><?php echo $v['stop_place'];?>&nbsp;</p>
					            	</div>
					            </li>
					           
					            <li class="kb_price"><strong><dfn></dfn><b><?php echo $v['price'];?></b></strong><p><span class="btn_b">有票</span></p></li>
					            <?php }else{;?>
                            <div class="kb_list_tab">
                            <?php if($v['is_sale'] ==1){ ;?>
			            	<div class="offer_box"><div class="offerN">
			            			<span>折扣票</span>
			            	</div></div>
                            <?php };?>
			            	<ul>
					           	<li class="kb_chezhan">
						           	<div class="kb_trip"><span class="time"><?php echo $v['time'];?></span><span class="stroke">发车</span></div>
						           	<div class="line_blue">
							            			<p><span class="traicon begin"></span><?php echo $v['start_place'];?>&nbsp;</p>
							            			<p><span class="traicon end"></span><?php echo $v['stop_place'];?>&nbsp;</p>
					            	</div>
					            </li>
					           
					            <li class="kb_price"><strong><dfn></dfn><b><?php echo $v['price'];?></b></strong><p><span class="btn_b">无票</span></p></li>

					            <?php };?>
				            </ul>
				        </div>
			            </a>
			        <?php endforeach;?>
		</div></div></div>
    </div>
   <div class="main_r_b">
<div class="main_right">
  <div class="main_r_b">
   <div class="asktop_b">
   <a  title="有疑问需要咨询，点击提问" href="javascript:window.location.href='index.php?p=home&amp;c=my&amp;a=chat'"><img src="http://static2.12308.com/website/image/askyw.png" width="235" height="27" alt="有疑问需要咨询，点击提问"/></a>
       </div>
       <div class="h15"></div>       
       <div class="comprob_b dashedl">
            <h4>常见问题</h4>
           <ul class="ul_comprob c333">
           <li><a  title="网上支付是否安全？" href="javascript:window.location.href='index.php?p=home&c=my&a=help&type=1'">网上支付是否安全？</a></li>
           <li><a  title="预订并提交订单后必须要立即支付吗？" href="javascript:window.location.href='index.php?p=home&c=my&a=help&type=2'">预订并提交订单后必须要立即支付吗？</a></li>
           <li><a  title="为什么订单支付完成后页面还是显示正在付款？" href="javascript:window.location.href='index.php?p=home&c=my&a=help&type=3'">为什么订单支付完成后页面还是显示正在付款？</a></li>
           
           <li><a  title="购票成功后没有收到短信怎么办？" href="javascript:window.location.href='index.php?p=home&c=my&a=help&type=4'">购票成功后没有收到短信怎么办？</a></li>
           <li><a  title="一般可以提前几天购票?" href="javascript:window.location.href='index.php?p=home&c=my&a=help&type=5'">一般可以提前几天购票？</a></li>
   		  </ul>
       </div>     
       <div class="newbie_b bgline">
            <h4>新手上路</h4>
            <div class="newbie_img"></div>
          <dl class="ul_comprob c333">
            <dt>第 1 课</dt>
            <dd><a  title="如何成为12307会员" href="javascript:window.location.href='index.php?p=home&c=my&a=help&type=6'">如何成为12307会员？</a></dd>
            <dd><a  title="如何联系我们？" href="javascript:window.location.href='index.php?p=home&c=my&a=help&type=7'">如何联系我们？</a></dd>
			<div class="h12"></div>
            <dt>第 2 课</dt>
            <dd><a  title="如何查询预订汽车票" href="javascript:window.location.href='index.php?p=home&c=my&a=help&type=8'">如何查询预订汽车票？</a></dd>
            <dd><a  title="如何购票下订单" href="javascript:window.location.href='index.php?p=home&c=my&a=help&type=9'">如何购票下订单？</a></dd>
            <dd><a  title="如何网上支付" href="javascript:window.location.href='index.php?p=home&c=my&a=help&type=10'">如何网上支付？</a></dd>
           
            <div class="h10"></div>
            <dt>第 3 课</dt>
            
            <dd><a  title="如何退票，退款？" href="javascript:window.location.href='index.php?p=home&c=my&a=help&type=11'">如何退票，退款？</a></dd>
         </dl>
       </div>   
   </div>
 </div>    </div>
</div>

<input type="hidden" id="timesType" value="0"/>
<input type="hidden" id="stationName" value="0"/>


<!--公用Foot和友情链接-->
<div class="h20"></div>
 <div class="footer">
  <div class="footer-hd">
    <p>
      <a href="http://www.12306.cn" target="_blank" title="火车票网上订票">火车票网上订票</a>
      <b>|</b>
      <a href="http://trip.taobao.com" target="_blank" title="淘宝旅行">淘宝旅行</a>
      <b>|</b>
      <a href="http://www.qunar.com" target="_blank" title="去哪儿网">去哪儿网</a>
      <b>|</b>
      <a href="http://www.tieyou.com" target="_blank" title="铁友网">铁友网</a>
    </p>
  </div>
  <div class="footer-bd">
    <p>
      <a  title="关于12307" href="aboutus.html">关于12307</a>
      <a  title="联系我们"  href="contactus.html">联系我们</a>
      <a  title="服务协议"   href="agree.html">服务协议</a>
      <a  title="诚征英才" href="jobs.html">诚征英才</a>
      <a  title="常见问题" href="question.html">常见问题</a>
    </p>
    <p>
      <em>&copy; 2014 12307 版权所有</em>
      <b>|</b>
      <span><a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备16020560号</a></span>
    </p>
  </div>
</div>

<span style=" visibility: hidden;">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?d60748f2e1d27a897fdab1404d6761b6";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</span>
</html>
