.zbj-captcha-title {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  margin: 15px auto;
}

input.zbj-captcha-input {
  border: 1px solid #e5e5e5;
  height: 33px;
  line-height: 33px;
  padding: 0 5px;
  border-radius: 0;
  font-size: 12px;
  width: 80px;
  vertical-align: baseline;
  box-shadow: none;
}

.zbj-captcha-refimg img {
  height: 35px;
}

.zbj-captcha-refimg-txt {
  color: #0b73bb;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-left: 5px;
}